html, body {
overflow: visible;
  }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
  outline: none;
  font-family: lato;
}
body {
  background: #ffffff !important;

}



.new-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: -20px
}
.margin-top {
  margin-top: 800;
}

#contact-container {
background:#f2f1f1;
  width:100%;
  height:100px;
  position:absolute;
  bottom:25px;
  }

  .restcomm-v-d {
  margin-top: 40px;
  margin-left: 90px;
}



#s-i-border {
float: right;
margin-right: 15px;
margin-left: 0px;

}


.logo-container {
  background-color: #eeeeee;
  width:100%;
  height:150px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 2px 1px rgba(219,219,219,1);
}

#sign-in {
  float: left;
  margin-left: 10px;
  color: #4a4a4b;
}



#footer {
  background:#eeeeee;
  width:100%;
  height:70px;
  position:fixed;
  bottom:0;
  left:0;
  margin-bottom: 0px;
   box-shadow: 1px -2px 1px rgba(219,219,219,1);
}

.telestax-rights {
  color: #a3a3a3;
  width: 244px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: -5px;

 }


 #telestax-footer {
  margin-top: 20px;
  margin-left: 90px

  }
 
  #facebook {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  }

#twitter {
  margin-top: 22px;
  margin-right: 20px;
  float: right;
  }

#linkedin {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  }

  #googleplus {
    margin-top: 20px;
    margin-right: 15px;
    float: right;
  }

  #youtube {
    margin-top: 20px;
    margin-right: 90px;
    float: right;
  }

.login-form {
  max-width: 600px;
  margin: 0 auto;
}

form[role=login] {
  font: 16px/1.6em Lato, serif;
  color: transparent;
  background: transparent;
  margin-top: 30px;
  padding: 0 10px 25px 10px;


}




.simplebox {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}


form[role=login] > section {
  text-align: center;
  font-size: 14px;
  margin-top: 2em;
}
  form[role=login] section a {
    color: #a8a8a9;
  }
form[role=login] h3 {
  font-size: 30px;
  font-weight: 300;
  font-family: lato;
  text-align: center;
  color: #6d6e70;
  padding: 0px 0 0px 0;
}
  form[role=login] h3 b {
    color: #013781;
  }

  form[role=login] span.glyphicon {
    color: #ffffff;
  }
  form[role=login] input,
  form[role=login] button {
    font-size: 18px;
    font-weight: lighter;
    margin: 5px 0;
  }


  form[role=login] input {
    color: #6d6e70;
    background: #fafafa;
    border: none;
    padding-left: 40px;
    border-bottom: 2px solid #c0c0c0;
    margin-bottom: 20px;
    padding-bottom: 0px;
    border-radius: 0px;
    box-shadow: none;
    font-weight: 300;

  }

  #forgot-password {
    float: right;
    padding-right: 30px;
    padding-bottom: 30px;
    font-weight: 300;

  }

  /*
  input:focus {
    outline:none !important;
    }
    */





    form[role=login] input::-webkit-input-placeholder {
      color: #c1c4c5;
    }
    form[role=login] input:-moz-placeholder {
      color: #c1c4c5;
    }
    form[role=login] input::-moz-placeholder {
      color: #c1c4c5;
    }
    form[role=login] input:-ms-input-placeholder {
      color: #c1c4c5;
    }

  .login-form .form-control {
    padding-left: 10px;
}


#email-sid {
color: #45a5ab;
font-size: 16px;
font-weight: 300;
margin-left: 10px;
margin-top: 20px;
}


.login-btn {
 float: right;
  color: #f3f3f3;
  background: #3c5865;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  padding: 10px 16px;
  border-radius: 10px;

  width: 20%;
  border: none;
  box-shadow: 1px 2px 1px #a0a0a0;
 }
  .login-btn:hover {
    color: #f3f3f3;
    background: #68b3b8;
     box-shadow: 1px 1px 1px #a0a0a0;
  }


.clear-btn {
  float: right;
  color: #7f7e7e;
  background: #d1d1d1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  padding: 10px 16px;
  border-radius: 10px;
  margin-left: 50px;
  width: 20%;
  border: none;
  box-shadow: 1px 2px 1px #a0a0a0;


 }
  .clear-btn:hover {
    color: #7f7e7e;
    background: #c8c7c7;
     box-shadow: 1px 1px 1px #a0a0a0;
  }

  form[role=login] .login-btn {

    line-height: 30px;
    font-weight: 300;
    
    
    }

  form[role=login] .clear-btn {

    line-height: 30px;
    font-weight: normal;
    margin-right: 30px;
    
    }


/* unvisited link */
a:link {
    color: #4a4a4b;
}

/* page rvd-select-project */

.voice-sms-ussd-btn {
  width: 635px;
  margin-left:auto;
  margin-right: auto; 
  padding-top: 70px;
}

#voice-btn {
padding-right: 70px;
}

#voice-btn:hover {
padding-right: 70px;
content: url(voice-btn-hover.png);
}


#sms-btn {
padding-right: 70px;

}

#sms-btn:hover {
padding-right: 70px;
content: url(sms-btn-hover.png);
}


#ussd-btn {
padding-right: 2px;
}

#ussd-btn:hover {
padding-right: 2px;
content: url(ussd-btn-hover.png);
}


.logo-container-inside {
  background-color: #eeeeee;
  width:100%;
  height:80px;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 2px 1px rgba(219,219,219,1);
}

  .restcomm-v-d-inside {
  margin-top: 15px;
  margin-left: 70px;
}




#drop-down-fonts {
margin-left: 30px;
margin-right: 30px;
}

.dropbtn {
  margin-top: 15px;
    background: none;
    color: #4a4a4b;
    padding: 1px;
    padding-left: 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}



.dropdown {
  width: 150px;
  height: 20px;
  float: right;
  margin-right: 20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  font-size: 16px;
    color: #6a6a6a;
    font-weight: 300;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    
}

.dropdown-content a:hover {
  color: #4a4a4b;
  text-decoration: none;
  font-weight: 500;

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background: none;
    color: #ff6933;
}

#start-project {
  color: #45a5ab;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 235px;
}

#existing-voice-project{
  color: #3c5865;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 235px;

}

.projects{
  margin-top:20px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

#excisting-projects {
  color: #ff6834;
  font-weight: 400;
  text-decoration: none;

}

#edit {
  padding-left: 30px;
}

/*#edit:hover {
  padding-left: 30px;
  content: url(edit-hover.png);

}*/

#download {
padding-left: 15px;
}

/*#download:hover {
padding-left: 15px;
content: url(download-hover.png);
}*/

#delete {
padding-left: 15px;
}

/*#delete:hover {
padding-left: 15px;
content: url(delete-hover.png);

}*/

#create-new-project {
  color: #3c5865;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 207px;
}

#textbox-input {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    color: #6d6e70;
    border-radius: 5px;
    width: 350px;
    height: 40px;
}

#textbox-new-project {
  width: 350px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}


.create-btn {
  color: #f3f3f3;
  background: #68b3b8;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  padding: 10px 120px;
  border-radius: 10px;


  border: none;
  box-shadow: 1px 2px 1px #a0a0a0;
 }
  .create-btn:hover {
    color: #f3f3f3;
    background: #5da1a6;     
    box-shadow: 1px 1px 1px #a0a0a0;
  }

  #btn-new-project {
   width: 280px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
  }

  #drop-area {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }

  .drop-area {
  background: none scroll 0% 0% #ffffff;
  border: 3px dashed #c8c6c8;
  text-align: center;

  width: 300px;
  height: 100px;
}

.drop-area .drop-prompt {
  padding: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #babbbb;
  
}

.drop-area.dropping {
  background-color:beige;
  cursor:copy;
}

#or {


  color: #babbbb;
  width: 27px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#different-project {
  color: #68b3b8;
  width: 266px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;


}

#different-project-text {
  text-decoration: none;
}

#different-project:hover {

    color: #5da1a6;
}


.icon-home {
float: left;
padding-left: 150px;
margin-top: 70px;

}


.icon-home-fonts {
float: left;
padding-left: 4px;
margin-top: 65px;

} 

.icon-numbers {
float: left;
padding-left: 40px;
margin-top: 72px;
}

.icon-numbers-fonts {
float: left;
padding-left: 4px;
margin-top: 65px;
} 

.icon-clients {
float: left;
padding-left: 40px;
margin-top: 70px;
}

.icon-clients-fonts {
float: left;
padding-left: 4px;
margin-top: 65px;
} 

.icon-olympus {
float: left;
padding-left: 40px;
margin-top: 70px;
}

.icon-olympus-fonts {
float: left;
padding-left: 4px;
margin-top: 65px;
} 

.icon-v-d {
float: left;
padding-left: 40px;
margin-top: 72px;
}

.icon-v-d-fonts {
float: left;
padding-left: 4px;
margin-top: 65px;

} 

.icon-logs {
float: left;
padding-left: 40px;
margin-top: 72px;
}

.icon-logs-fonts {
float: left;
padding-left: 4px;
margin-top: 65px;
} 

.icon-apps {
float: left;
padding-left: 40px;
margin-top: 72px;
}

.icon-apps-fonts {
float: left;
padding-left: 4px;
margin-top: 65px;
} 


.nav-bar {

margin-top: -35px;

}





ul.topnav {
    list-style-type: none;
    margin: 0;
    margin-left: 400px;

    padding: 0;
    overflow: hidden;
    background-color: none;
}


ul.topnav li {float: left;}


ul.topnav li a {
    display: inline-block;
    color: #4a4a4b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}


ul.topnav li a:hover {background-color: none;
color: #4a4a4b;

}


ul.topnav li.icon {display: none;}


@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}


@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}






ul#verbs li.verb-btns {
width: 100px;
list-style: none;
line-height:30px;   
}
ul#verbs li.verb-btns:hover {
width: 140px;
line-height:30px;   
}

.verb-drop {
  margin-top: 6px;
  float: left;
  color: #7f7e7e;
  background: #d1d1d1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  padding: 16px 16px;
  border-radius: 10px;

  height: 5px;
  width: 180px;
  border: none;
  box-shadow: 1px 2px 1px #a0a0a0;
  }

 .drop-area-audio-resourses {
  padding-top: 20px;
 }

  .verb-drop:hover {
  color: #7f7e7e;
  background: #c8c7c7;
  box-shadow: 1px 1px 1px #a0a0a0;
  }

  .top-verb {
    margin-top: 20px;
  }

  #verb-list {
  margin-top: 20px;


  }

  #play-verb {
  float: left;

  margin-left: 8px;
  margin-top: -5px;
  }

  #play-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 15px;
  margin-top: -12px;
  }

  #say-verb {
  float: left;
  margin-top: -13px;
 }

  #say-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #collect-verb {
  float: left;
  margin-top: -13px;
  }

  #collect-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #diall-verb {
  float: left;
  margin-top: -13px;
  }

  #diall-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #hang-up-verb {
  float: left;
  margin-top: -13px;
  }

  #hang-up-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #external-service-verb {
  float: left;
  margin-top: -13px;
  }

  #external-service-fonts {
  color: #5e5e5d;
  font-size: 15px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }
  #log-verb {
  float: left;
  margin-top: -13px;
  margin-left: -2px;
  }

  #log-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #reject-verb {
  float: left;
  margin-top: -13px;
  }

  #reject-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #redirect-verb {
  float: left;
  margin-top: -13px;
  }

  #redirect-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #pause-verb {
  float: left;
  margin-top: -13px;
  margin-left: -2px;
  }

  #pause-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #sms-verb {
  float: left;
  margin-top: -13px;
  }

  #sms-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #email-verb {
  float: left;
  margin-top: -13px;
  }

  #email-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

  #record-verb {
  float: left;
  margin-top: -13px;
  }

  #record-fonts {
  color: #5e5e5d;
  font-size: 16px;
  float: left;
  margin-left: 10px;
  margin-top: -12px;
  }

 #audio-resources {
  color: #5e5e5d;
  font-size: 18px;
  width: 150px;
  float: left;
  margin-left: 60px;
  position: relative;

  }

.working-area {
width: 800px; 
height: 570px;
position: static;
margin-top: 5px;
margin-left: 270px;
border: 1px solid;
border-color: #d5d5d5;
border-radius: 10px;
background-color: #f0f0f0;
margin-top: 25px;
}



@media only screen and (max-width: 2500px){
    .working-area { width: 79%; }
}

  #drop-area2 {
    width: 300px;

  }

  .drop-area2 {
    float: left;
  background: none scroll 0% 0% #ffffff;
  border: 3px dashed #c8c6c8;
  text-align: center;
  margin-left: 45px;
  margin-top: -30px;
  width: 200px;
  height: 100px;
}

.drop-area2 .drop-prompt2 {
  padding: 25px;
  font-size: 18px;
  font-weight: 300;
  color: #babbbb;
  
}

.drop-area2.dropping2 {
  background-color:beige;
  cursor:copy;
}


.button-close-project {
  float: right;
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
  padding: 3px 13px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d1d1d1;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 2px 1px #a0a0a0;
}

.button-close-project:hover {background-color: #c8c7c7;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-close-project:active {
  background-color: #c8c7c7;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

#close-img {
  margin-bottom: 5px;
  margin-left: 2px;
}


#project-rvd {
float: right;
  margin-right: 10px;
  margin-top: 23px;
  color: #6d6e70;
}

.button-start-up {
float: left;
  margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 12px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #68b3b8;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 2px 1px #a0a0a0;
}

.button-start-up:hover {background-color: #5da1a6;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-start-up:active {
  background-color: #5da1a6;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

.startup-fonts {
font-size: 17px;
font-weight: 300;
}

.button-plus {
  float: left;
    margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 4px 14px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #68b3b8;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 2px 1px #a0a0a0;
}


.button-plus:hover {background-color: #5da1a6;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-plus:active {
  background-color: #5da1a6;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

.button-filter {
  float: left;
    margin-left: 10px;
  margin-top: 10px;
  display: inline-block;
  padding: 4px 11px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d1d1d1;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 2px 1px #a0a0a0;
}

.button-filter:hover {background-color: #c8c7c7;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-filter:active {
  background-color: #c8c7c7;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

.button-modules {
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 13px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #68b3b8;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 2px 1px #a0a0a0;
}

.button-modules:hover {background-color: #5da1a6;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-modules:active {
  background-color: #5da1a6;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

.modules-fonts {
font-size: 17px;
font-weight: 300;
}

#arrow-drop-down-white {
  margin-left: 10px;
}


.welcome-module {
  padding: 2px 12px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ff6834;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #dbdbdb;
  margin-top: 30px;
  margin-left: 30px;

}

.welcome-module:hover {background-color: #ffffff;
  box-shadow: 1px 0px 1px #dbdbdb;
}
.welcome-module:active {
  background-color: #ffffff;
  box-shadow: 1px 1px 1px #dbdbdb;

}

.welcome-module-fonts {
  float: left;
font-size: 17px;
font-weight: 400;
}

#module-delete {
float: right;
margin-top: 10px;
margin-right: 10px;
}

#arrow-drop-down-dark {
  float: right;
  margin-top: 17px;
  margin-right: -5px;
}


.verb-open {
width: 1040px; 
height: 200px;
margin-left: 30px;
margin-top: 20px;
border-top: 35px solid #d1d1d1;
border-right: 1px solid #d5d5d5;
border-bottom: 1px solid #d5d5d5;
border-left: 1px solid #d5d5d5;
border-radius: 10px;
background-color: #ffffff;
  box-shadow: 1px 0px 1px #dbdbdb;

}

#arrow-drop-down-dark-verb {
  float: left;
  margin-top: -17px;

}

#name-verb-open {
  float: left;
  color: #4a4a4b;
  margin-top: -25px;
  margin-left: 20px;
}

#module-delete-verb {
  float: right;
  margin-top: -25px;

}


#textbox-say {
  width: 350px;
  margin-top: -7px;
}


#textbox-say2 {

    padding-left: 10px;
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    color: #6d6e70;
    border-radius: 5px;
    width: 850px;
    height: 45px;

}

#text {
  color: #6d6e70;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 20px;

}


.dial-drag-n-drop {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  display: inline-block;
  padding: 1px 9px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #d1d1d1;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 1px 1px #a0a0a0;
}

.dial-drag-n-drop:hover {background-color: #c8c7c7;
box-shadow: 1px 2px 1px #a0a0a0;}

.dial-drag-n-drop:active {
  background-color: #c8c7c7;
    box-shadow: 1px 2px 1px #a0a0a0;
}

#icon-dial-drag-n-drop {
  float: right;
  margin-top: -5px;
}


.small-btn-fonts {
  color: #5e5e5d;
  font-size: 14px;
  margin-left: 10px;


}

.small-btn-fonts2 {
  color: #5e5e5d;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 5px;

}

.dial-small-btns {
  float: left;
margin-left: -50px;
}

.button-lookup {
  float: right;
  margin-right: 60px;
  margin-left: 30px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 13px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #6d6e70;
  background-color: transparent;
  border: none;


}

.button-lookup:hover {background-color: transparent;}

.button-lookup:active {
  background-color: transparent;


}

.lookup-fonts {
font-size: 16px;
font-weight: 400;
}

#settings-in-verb {
  float: left;
  margin-top: 50px;
}

.verb-open-2 {
width: 1040px; 
height: 320px;
margin-left: 30px;
margin-top: 20px;
border-top: 35px solid #d1d1d1;
border-right: 1px solid #d5d5d5;
border-bottom: 1px solid #d5d5d5;
border-left: 1px solid #d5d5d5;
border-radius: 10px;
background-color: #ffffff;
  box-shadow: 1px 0px 1px #dbdbdb;

}

  #drop-area3 {
    width: 300px;

  }

  .drop-area3 {

  background: none scroll 0% 0% #ffffff;
  border: 3px dashed #c8c6c8;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 800px;
  height: 50px;
}

.drop-area3 .drop-prompt3 {
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  color: #babbbb;
  
}

.drop-area3.dropping3 {
  background-color:beige;
  cursor:copy;
}


.flipswitch
{  float: left;
  padding-top: 50px;
    position: relative;
    background: #eeeeee;
    width: 80px;
    height: 30px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline:none;
    font-size: 14px;
    font-weight: normal;
    cursor:pointer;
    border:1px solid #d1d1d1;
    border-radius: 12px;
}
.flipswitch:after
{ 
    position:absolute;
    top:5%;
    display:block; 
    line-height:25px;
    width:45%;
    height:90%;
    background: #c1c1c1;
    box-sizing:border-box;
    text-align:center;
    transition: all 0.3s ease-in 0s; 
    color:black;

    border-radius:15px;
}
.flipswitch:after
{
    left:53%;
    content: "Yes";
    color: #4a4a4b;

}
.flipswitch:checked:after
{
    left:2%;
    content: "No";  
    color: #4a4a4b;
}

#recording {
  float: left;
  color: #6e6d70;
  font-size: 17px;
margin-right: 10px;
margin-top: 10px;}

#flip {
  margin-top: 20px;
  margin-left: 300px;
}


{
    outline:0px !important;
    -webkit-appearance:none;
}

#settings-in-verb-2 {
    float: left;
  margin-top: 65px;
}

#continue-to-fonts {
  float: left;
  margin-left: 20px;
  padding-top: 7px;
  color: #6e6d70;
  font-size: 17px;
}


.continue-to-container {
  float: left;
  margin-left: 30px;
  margin-top: 5px;
  position: relative;
  display: inline-block;
}

.selectpicker {
 font-family: lato;
   float: left;
   margin-left: 18px;
   margin-top: 10px;
  background-color: #ffffff;
  border: 2px solid #e4e3e3;
  border-radius: 20px;
  width: 1000px;
  height: 42px;
  font-size: 17px;
  font-weight: 400;
  color: #6d6e70;
  padding-left: 10px;
}

.selectpicker-custom {
   font-family: lato;
   float: left;
   margin-left: -10px;
   margin-top: 0px;
  background-color: #ffffff;
  border: 2px solid #e4e3e3;
  border-radius: 10px;
  width: 720px;
  height: 35px;
  font-size: 17px;
  font-weight: 400;
  color: #6d6e70;
  padding-left: 10px;

}

#in-verb-container {

  margin-top: 20px;
  width: 900px;
  height: 50px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: 2px solid #d1d1d1;
}

#continue-to-settings {
  margin-left: 13px;
  margin-top: 9px;
 
}

#continue-to-settings:hover {
  margin-left: 13px;
  margin-top: 9px;

}

.checkbox-web-trigger-enable {
  float: left;
  margin-left: 300px;
  margin-top: 20px;
}

#web-trigger-hint {
  margin-top: 50px;
  float: left;
  margin-left: 200px;
  font-size: 20px;
  color: #6d6e70;
}

#enable-web-trigger {
 font-size: 18px;
 color: #44a5ab;
 font-weight: 400;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width     : 3em;
  margin    : 0;
  padding   : 0;
  font-size : 2em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 1em;
  height           : 1em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.25em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : #44a5ab;
  font-size   : 0.9em;
  line-height : 1em;
  text-align  : center;
  text-shadow : none;
  font-weight : normal;
}


.web-access-fallback {
  margin-left: 110px;
  color: #4a4a4b;
  font-size: 20px;
  font-weight: normal;
}

#after-enable {
  margin-top: 30px;
}

.web-trigger-url-body {
  float: left;
  margin-left: 110px;
  color: #6d6e70;
}


/* Hover tooltips */
.field-tip {
    position:relative;
    cursor:help;
}
    .field-tip .tip-content {
        position:absolute;
        top:30px; /* - top padding */
        right:9999px;
        width:400px;
        margin-right:-220px; /* width + left/right padding */
        padding:10px;
        color: #6d6e70;
        font-size: 16px;
        font-weight: 300;
        border-radius: 10px;
        background:#ffffff;
        border: 1px solid #c8c6c8;
        -webkit-box-shadow:2px 2px 3px #c8c6c8;
           -moz-box-shadow:2px 2px 3px #c8c6c8;
                box-shadow:2px 2px 3px #c8c6c8; 
 }
        /* <http://css-tricks.com/snippets/css/css-triangle/> */
        .field-tip .tip-content:before {
            content:' '; /* Must have content to display */
            position:absolute;
            top:50%;
            left: -30px; /* 2 x border width */
            width:0;
            height:0;
            margin-top:-15px; /* - border width */



        }
        .field-tip:hover .tip-content {
            right:-20px;
            
        }



#textbox-access-token {
  margin-left: 90px;
}

#access-token-margin-top {
  margin-top: 20px;
}

#textbox-input-access-token {
    margin-top: 10px;
    padding-left: 10px;
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    color: #6d6e70;
    border-radius: 5px;
    width: 600px;
    height: 40px;
}

#under-textbox-access-token {
  float: left;
  margin-left: 120px;
  margin-top: -7px;
  color: #aeaeae;
}

.fallback-parameters{
  margin-top: 30px;
}

#textbox-input-fallback-1 {
  float: left;
  margin-left: 10px;
    padding-left: 10px;
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    color: #6d6e70;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

#textbox-input-fallback-2 {
  float: left;
  margin-left: 10px;
    padding-left: 10px;
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    color: #6d6e70;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

#to {
  margin-top: 10px;
  float: left;
  margin-left: 110px;
  color: #6d6e70;
  font-size: 18px;
}

#from {
  margin-top: 10px;
  float: left;
  margin-left: 30px;
    color: #6d6e70;
  font-size: 18px;
}

.button-cancel-web-tr {
  float: left;
  margin-left: 800px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 13px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #6d6e70;
  background-color: #d1d1d1;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 1px #a0a0a0;
}

.button-cancel-web-tr:hover {background-color: #c8c7c7;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-cancel-web-tr:active {
  background-color: #c8c7c7;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

.button-save-web-tr{
  float: left;
  margin-left: 40px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 22px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #68b3b8;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 2px 1px #a0a0a0;
   }


.button-save-web-tr:hover {background-color: #5da1a6;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-save-web-tr:active {
  background-color: #5da1a6;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

#cancel-save-btn {
  margin-top: 30px;
}


.enable-application-log {
    float: left;
    margin-left: 110px;
    margin-top: 30px;
    background-color: #ffffff;
    border: 2px solid #e4e3e3;
    color: #6d6e70;
    border-radius: 5px;
    width: 1000px;
    height: 300px;
    position: static;
    resize: none;
}


@media only screen and (max-width: 2500px){
    .enable-application-log { width: 79%; }



.button-reset-a-l {
  float: left;
  margin-left: 600px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 20px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #6d6e70;
  background-color: #d1d1d1;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 1px #a0a0a0;
}

.button-reset-a-l:hover {background-color: #c8c7c7;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-reset-a-l:active {
  background-color: #c8c7c7;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

.button-reload-a-l{
  float: left;
  margin-left: 40px;
  margin-top: 10px;
  display: inline-block;
  padding: 2px 22px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #68b3b8;
  border: none;
  border-radius: 10px;
     box-shadow: 1px 2px 1px #a0a0a0;
   }


.button-reload-a-l:hover {background-color: #5da1a6;
box-shadow: 1px 1px 1px #a0a0a0;}

.button-reload-a-l:active {
  background-color: #5da1a6;
    box-shadow: 1px 1px 1px #a0a0a0;
  transform: translateY(1px);
}

#reset-reload-btn {
  margin-top: 20px;
}

.checkbox-log-rcml {
  float: left;
  margin-left: 70px;
  margin-top: 5px;
}

#enable-log-rcml {
 font-size: 15px;
 color: #6d6e70;
 font-weight: 400;
}

